body {
  background: url("img/Int_Cafe_Login.png") center/cover no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* đẩy sang bên trái */
  align-items: center; /* căn giữa theo chiều dọc */
  font-family: Arial, sans-serif;
}

/* khung form trong suốt */
.wrapper {
  width: 360px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #000000;
  border-radius: 15px;
  padding: 40px;
  margin-left: 50px; /* cách mép trái một khoảng */
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-weight: 600;
}

.input-group input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #000000;
}

.input-group input::placeholder {
  color: #383434;
}

/* nút */
.btn {
  width: 100%;
  padding: 12px;
  background: #90d5f0;
  color: #000000;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #90d5f0;
}

/* link phụ */
.links {
  margin-top: 15px;
  text-align: center;
}

.links a {
  color: #2507ac;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
